
:root {
 --textColor: #113366;
 --barColor: #006FF2;
 --taxBarColor: #FF5D5D;
 --minTaxBarWidth: 1rem;
  font-size: 300%;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

#conveterContainer {
  border-radius: 0.25rem;
  min-width: 13rem;
  width: 40vw;
  background-color: white;
  color: var(--textColor);
}
.converterSection {
  padding: 0.625rem 0.75rem;
}
.topBorder {
  border-top: 0.0625rem solid #F0EDED;
}
.converterForm {
  border: 0.0625rem solid #D8D8D8;
  border-radius: 0.25rem;
  padding-left: 2rem;
  width: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  color: var(--textColor);
}
.converterForm:focus {
  outline-color: #a1a1a1;
}

#formCoin {
  position: absolute;
  left: 0.5rem;
  top: 	0.285rem;
}
#formWrapper {
  position: relative;
}

.subTitle {
  display: block;
  margin-bottom: 0.5rem;
}
.barTitle {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.valueBar {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--barColor);
  border-radius: 0.625rem;
  color: white;
  padding-left: 0.5rem;
  height: 1rem;
}
.taxBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: var(--taxBarColor);
  height: 100%;
  border-radius: 0.625rem;
  color: white;
  padding-right: 0.5rem;
}

/* generics */
.size1 {
  font-size: 0.75rem;
}
.size2 {
  font-size: 0.625rem;
}
.size3 {
  font-size: 0.5rem;
}
.size4 {
  font-size: 0.4375rem;
}
.bold {
  font-weight: bold;
}

